<template>
<v-app>
  <div>
 <div>
    <v-navigation-drawer
      v-model="drawer"
      :mini-variant="miniVariant"
      :clipped="clipped"
      app
      dense
      color="cyan"
      dark
    >
      <v-list
      dense
      >
        <v-list-item
          v-for="(item, i) in items"
          :key="i"
          :to="item.to"
          router
          exact
        >
          <v-list-item-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title v-text="item.title" />
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-app-bar
      :clipped-left="clipped"
      fixed
      app
      dark 
      color="cyan" 
     dense

    >
    
  <v-img
    class="mx-3"
    src="https://png2.cleanpng.com/sh/efd43796018d720103fc0e4414004f6b/L0KzQYm3UsA2N6V2j5H0aYP2gLBuTgNwbqV8eeRuLYfocn7rhgZmdJD1hdd3dD3sc7F1TgNwbqV8eeRuLYDxd373iP91d6QyTdMCOHSzQoTohMA4QWozSao6M0C1RoG4VcE4QGc8SKY8N0C7R3B3jvc=/kisspng-software-web-development-icon-software-png-photos-5a78d023ad0799.1813026015178670437087.png"
    max-height="30"
    max-width="30"
    contain
  ></v-img>
      <v-app-bar-nav-icon @click.stop="drawer = !drawer" />
      <v-btn
        icon
        @click.stop="miniVariant = !miniVariant"
      >
        <v-icon>mdi-{{ `chevron-${miniVariant ? 'right' : 'left'}` }}</v-icon>
      </v-btn>
      <v-btn
        icon
        @click.stop="clipped = !clipped"
      >
        <v-icon>mdi-application</v-icon>
      </v-btn>
      <v-btn
        icon
        @click.stop="fixed = !fixed"
      >
        <v-icon>mdi-minus</v-icon>
      </v-btn>
      <v-toolbar-title v-text="title" />
      <v-spacer />
      <nuxt-link
      to="/User/login"
      title="LOGIN"
      >
        <v-icon to="/User/login" >mdi-account-key</v-icon>
      </nuxt-link>
    </v-app-bar>
    <v-content>
      <v-container>
        <nuxt />
      </v-container>
    </v-content>
    
  </div>
  </div>
</v-app>
</template>
<script>
export default {
  data () {
    return {
      clipped: true,
      drawer: true,
      fixed: false,
      items: [
        {
          icon: 'mdi-chart-areaspline',
          title: 'DASHBOARD',
          to: '/'
        },
        {
          icon: 'mdi-temperature-celsius',
          title: 'Temperature Log',
          to: '/temperature'
        },
        {
          icon: 'mdi-chart-bubble',
          title: 'Temperature',
          to: '/inspire'
        },
        {
          icon: 'mdi-chart-bubble',
          title: 'Inspire',
          to: '/inspire'
        }
      ],
      miniVariant: false,
      right: true,
      rightDrawer: false,
      title: 'DGTECH'
    }
  }
}
</script>
